/* color */
/* body */
/* text */
/* text style */
/* header */
/* H tag */
h1.title_h1 {
  font-size: 2.375rem;
  font-family: "Hi Melody", "Noto Sans KR";
}

h2.title_h2 {
  font-size: 2.25rem;
  font-family: "Hi Melody", "Noto Sans KR";
}

h3.title_h3 {
  font-size: 1.375rem;
  font-family: "Hi Melody", "Noto Sans KR";
}

h4.title_h4 {
  font-size: 1.125rem;
  font-family: "Hi Melody", "Noto Sans KR";
}

/** display **/
.d_n {
  display: none !important;
}

.d_b {
  display: block !important;
}

.d_i {
  display: inline !important;
}

.d_ib {
  display: inline-block !important;
}

.d_f {
  display: flex !important;
}

.d_if {
  display: inline-flex !important;
}

/** position **/
.pos_r {
  position: relative !important;
}

.pos_a {
  position: absolute !important;
}

.pos_f {
  position: fixed !important;
}

.pos_c {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/** flex **/
.fd_r {
  flex-direction: row !important;
}

.fd_rr {
  flex-direction: row-reverse !important;
}

.fd_c {
  flex-direction: column !important;
}

.fd_cr {
  flex-direction: column-reverse !important;
}

.ai_fs {
  align-items: flex-start !important;
}

.ai_c {
  align-items: center !important;
}

.ai_fe {
  align-items: flex-end !important;
}

.jc_fs {
  justify-content: flex-start !important;
}

.jc_c {
  justify-content: center !important;
}

.jc_fe {
  justify-content: flex-end !important;
}

.jc_sb {
  justify-content: space-between !important;
}

/** margin **/
/* margin - auto */
.m_0 {
  margin: 0 !important;
}

.m_a {
  margin: auto !important;
}

.mt_a {
  margin-top: auto !important;
}

.mr_a {
  margin-right: auto !important;
}

.mb_a {
  margin-bottom: auto !important;
}

.ml_a {
  margin-left: auto !important;
}

.mlr_a, .mrl_a {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* margin - top */
.mt_100 {
  margin-top: 100px !important;
}

.mt_98 {
  margin-top: 98px !important;
}

.mt_96 {
  margin-top: 96px !important;
}

.mt_94 {
  margin-top: 94px !important;
}

.mt_92 {
  margin-top: 92px !important;
}

.mt_90 {
  margin-top: 90px !important;
}

.mt_88 {
  margin-top: 88px !important;
}

.mt_86 {
  margin-top: 86px !important;
}

.mt_84 {
  margin-top: 84px !important;
}

.mt_82 {
  margin-top: 82px !important;
}

.mt_80 {
  margin-top: 80px !important;
}

.mt_78 {
  margin-top: 78px !important;
}

.mt_76 {
  margin-top: 76px !important;
}

.mt_74 {
  margin-top: 74px !important;
}

.mt_72 {
  margin-top: 72px !important;
}

.mt_70 {
  margin-top: 70px !important;
}

.mt_68 {
  margin-top: 68px !important;
}

.mt_66 {
  margin-top: 66px !important;
}

.mt_64 {
  margin-top: 64px !important;
}

.mt_62 {
  margin-top: 62px !important;
}

.mt_60 {
  margin-top: 60px !important;
}

.mt_58 {
  margin-top: 58px !important;
}

.mt_56 {
  margin-top: 56px !important;
}

.mt_54 {
  margin-top: 54px !important;
}

.mt_52 {
  margin-top: 52px !important;
}

.mt_50 {
  margin-top: 50px !important;
}

.mt_48 {
  margin-top: 48px !important;
}

.mt_46 {
  margin-top: 46px !important;
}

.mt_44 {
  margin-top: 44px !important;
}

.mt_42 {
  margin-top: 42px !important;
}

.mt_40 {
  margin-top: 40px !important;
}

.mt_38 {
  margin-top: 38px !important;
}

.mt_36 {
  margin-top: 36px !important;
}

.mt_34 {
  margin-top: 34px !important;
}

.mt_32 {
  margin-top: 32px !important;
}

.mt_30 {
  margin-top: 30px !important;
}

.mt_28 {
  margin-top: 28px !important;
}

.mt_26 {
  margin-top: 26px !important;
}

.mt_24 {
  margin-top: 24px !important;
}

.mt_22 {
  margin-top: 22px !important;
}

.mt_20 {
  margin-top: 20px !important;
}

.mt_18 {
  margin-top: 18px !important;
}

.mt_16 {
  margin-top: 16px !important;
}

.mt_14 {
  margin-top: 14px !important;
}

.mt_12 {
  margin-top: 12px !important;
}

.mt_10 {
  margin-top: 10px !important;
}

.mt_8 {
  margin-top: 8px !important;
}

.mt_6 {
  margin-top: 6px !important;
}

.mt_4 {
  margin-top: 4px !important;
}

.mt_2 {
  margin-top: 2px !important;
}

/* margin - bottom */
.mb_100 {
  margin-bottom: 100px !important;
}

.mb_98 {
  margin-bottom: 98px !important;
}

.mb_96 {
  margin-bottom: 96px !important;
}

.mb_94 {
  margin-bottom: 94px !important;
}

.mb_92 {
  margin-bottom: 92px !important;
}

.mb_90 {
  margin-bottom: 90px !important;
}

.mb_88 {
  margin-bottom: 88px !important;
}

.mb_86 {
  margin-bottom: 86px !important;
}

.mb_84 {
  margin-bottom: 84px !important;
}

.mb_82 {
  margin-bottom: 82px !important;
}

.mb_80 {
  margin-bottom: 80px !important;
}

.mb_78 {
  margin-bottom: 78px !important;
}

.mb_76 {
  margin-bottom: 76px !important;
}

.mb_74 {
  margin-bottom: 74px !important;
}

.mb_72 {
  margin-bottom: 72px !important;
}

.mb_70 {
  margin-bottom: 70px !important;
}

.mb_68 {
  margin-bottom: 68px !important;
}

.mb_66 {
  margin-bottom: 66px !important;
}

.mb_64 {
  margin-bottom: 64px !important;
}

.mb_62 {
  margin-bottom: 62px !important;
}

.mb_60 {
  margin-bottom: 60px !important;
}

.mb_58 {
  margin-bottom: 58px !important;
}

.mb_56 {
  margin-bottom: 56px !important;
}

.mb_54 {
  margin-bottom: 54px !important;
}

.mb_52 {
  margin-bottom: 52px !important;
}

.mb_50 {
  margin-bottom: 50px !important;
}

.mb_48 {
  margin-bottom: 48px !important;
}

.mb_46 {
  margin-bottom: 46px !important;
}

.mb_44 {
  margin-bottom: 44px !important;
}

.mb_42 {
  margin-bottom: 42px !important;
}

.mb_40 {
  margin-bottom: 40px !important;
}

.mb_38 {
  margin-bottom: 38px !important;
}

.mb_36 {
  margin-bottom: 36px !important;
}

.mb_34 {
  margin-bottom: 34px !important;
}

.mb_32 {
  margin-bottom: 32px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.mb_28 {
  margin-bottom: 28px !important;
}

.mb_26 {
  margin-bottom: 26px !important;
}

.mb_24 {
  margin-bottom: 24px !important;
}

.mb_22 {
  margin-bottom: 22px !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_18 {
  margin-bottom: 18px !important;
}

.mb_16 {
  margin-bottom: 16px !important;
}

.mb_14 {
  margin-bottom: 14px !important;
}

.mb_12 {
  margin-bottom: 12px !important;
}

.mb_10 {
  margin-bottom: 10px !important;
}

.mb_8 {
  margin-bottom: 8px !important;
}

.mb_6 {
  margin-bottom: 6px !important;
}

.mb_4 {
  margin-bottom: 4px !important;
}

.mb_2 {
  margin-bottom: 2px !important;
}

/* margin - left */
.ml_100 {
  margin-left: 100px !important;
}

.ml_98 {
  margin-left: 98px !important;
}

.ml_96 {
  margin-left: 96px !important;
}

.ml_94 {
  margin-left: 94px !important;
}

.ml_92 {
  margin-left: 92px !important;
}

.ml_90 {
  margin-left: 90px !important;
}

.ml_88 {
  margin-left: 88px !important;
}

.ml_86 {
  margin-left: 86px !important;
}

.ml_84 {
  margin-left: 84px !important;
}

.ml_82 {
  margin-left: 82px !important;
}

.ml_80 {
  margin-left: 80px !important;
}

.ml_78 {
  margin-left: 78px !important;
}

.ml_76 {
  margin-left: 76px !important;
}

.ml_74 {
  margin-left: 74px !important;
}

.ml_72 {
  margin-left: 72px !important;
}

.ml_70 {
  margin-left: 70px !important;
}

.ml_68 {
  margin-left: 68px !important;
}

.ml_66 {
  margin-left: 66px !important;
}

.ml_64 {
  margin-left: 64px !important;
}

.ml_62 {
  margin-left: 62px !important;
}

.ml_60 {
  margin-left: 60px !important;
}

.ml_58 {
  margin-left: 58px !important;
}

.ml_56 {
  margin-left: 56px !important;
}

.ml_54 {
  margin-left: 54px !important;
}

.ml_52 {
  margin-left: 52px !important;
}

.ml_50 {
  margin-left: 50px !important;
}

.ml_48 {
  margin-left: 48px !important;
}

.ml_46 {
  margin-left: 46px !important;
}

.ml_44 {
  margin-left: 44px !important;
}

.ml_42 {
  margin-left: 42px !important;
}

.ml_40 {
  margin-left: 40px !important;
}

.ml_38 {
  margin-left: 38px !important;
}

.ml_36 {
  margin-left: 36px !important;
}

.ml_34 {
  margin-left: 34px !important;
}

.ml_32 {
  margin-left: 32px !important;
}

.ml_30 {
  margin-left: 30px !important;
}

.ml_28 {
  margin-left: 28px !important;
}

.ml_26 {
  margin-left: 26px !important;
}

.ml_24 {
  margin-left: 24px !important;
}

.ml_22 {
  margin-left: 22px !important;
}

.ml_20 {
  margin-left: 20px !important;
}

.ml_18 {
  margin-left: 18px !important;
}

.ml_16 {
  margin-left: 16px !important;
}

.ml_14 {
  margin-left: 14px !important;
}

.ml_12 {
  margin-left: 12px !important;
}

.ml_10 {
  margin-left: 10px !important;
}

.ml_8 {
  margin-left: 8px !important;
}

.ml_6 {
  margin-left: 6px !important;
}

.ml_4 {
  margin-left: 4px !important;
}

.ml_2 {
  margin-left: 2px !important;
}

/* margin - right */
.mr_100 {
  margin-right: 100px !important;
}

.mr_98 {
  margin-right: 98px !important;
}

.mr_96 {
  margin-right: 96px !important;
}

.mr_94 {
  margin-right: 94px !important;
}

.mr_92 {
  margin-right: 92px !important;
}

.mr_90 {
  margin-right: 90px !important;
}

.mr_88 {
  margin-right: 88px !important;
}

.mr_86 {
  margin-right: 86px !important;
}

.mr_84 {
  margin-right: 84px !important;
}

.mr_82 {
  margin-right: 82px !important;
}

.mr_80 {
  margin-right: 80px !important;
}

.mr_78 {
  margin-right: 78px !important;
}

.mr_76 {
  margin-right: 76px !important;
}

.mr_74 {
  margin-right: 74px !important;
}

.mr_72 {
  margin-right: 72px !important;
}

.mr_70 {
  margin-right: 70px !important;
}

.mr_68 {
  margin-right: 68px !important;
}

.mr_66 {
  margin-right: 66px !important;
}

.mr_64 {
  margin-right: 64px !important;
}

.mr_62 {
  margin-right: 62px !important;
}

.mr_60 {
  margin-right: 60px !important;
}

.mr_58 {
  margin-right: 58px !important;
}

.mr_56 {
  margin-right: 56px !important;
}

.mr_54 {
  margin-right: 54px !important;
}

.mr_52 {
  margin-right: 52px !important;
}

.mr_50 {
  margin-right: 50px !important;
}

.mr_48 {
  margin-right: 48px !important;
}

.mr_46 {
  margin-right: 46px !important;
}

.mr_44 {
  margin-right: 44px !important;
}

.mr_42 {
  margin-right: 42px !important;
}

.mr_40 {
  margin-right: 40px !important;
}

.mr_38 {
  margin-right: 38px !important;
}

.mr_36 {
  margin-right: 36px !important;
}

.mr_34 {
  margin-right: 34px !important;
}

.mr_32 {
  margin-right: 32px !important;
}

.mr_30 {
  margin-right: 30px !important;
}

.mr_28 {
  margin-right: 28px !important;
}

.mr_26 {
  margin-right: 26px !important;
}

.mr_24 {
  margin-right: 24px !important;
}

.mr_22 {
  margin-right: 22px !important;
}

.mr_20 {
  margin-right: 20px !important;
}

.mr_18 {
  margin-right: 18px !important;
}

.mr_16 {
  margin-right: 16px !important;
}

.mr_14 {
  margin-right: 14px !important;
}

.mr_12 {
  margin-right: 12px !important;
}

.mr_10 {
  margin-right: 10px !important;
}

.mr_8 {
  margin-right: 8px !important;
}

.mr_6 {
  margin-right: 6px !important;
}

.mr_4 {
  margin-right: 4px !important;
}

.mr_2 {
  margin-right: 2px !important;
}

/** padding **/
/* padding - top */
.pt_100 {
  padding-top: 100px !important;
}

.pt_98 {
  padding-top: 98px !important;
}

.pt_96 {
  padding-top: 96px !important;
}

.pt_94 {
  padding-top: 94px !important;
}

.pt_92 {
  padding-top: 92px !important;
}

.pt_90 {
  padding-top: 90px !important;
}

.pt_88 {
  padding-top: 88px !important;
}

.pt_86 {
  padding-top: 86px !important;
}

.pt_84 {
  padding-top: 84px !important;
}

.pt_82 {
  padding-top: 82px !important;
}

.pt_80 {
  padding-top: 80px !important;
}

.pt_78 {
  padding-top: 78px !important;
}

.pt_76 {
  padding-top: 76px !important;
}

.pt_74 {
  padding-top: 74px !important;
}

.pt_72 {
  padding-top: 72px !important;
}

.pt_70 {
  padding-top: 70px !important;
}

.pt_68 {
  padding-top: 68px !important;
}

.pt_66 {
  padding-top: 66px !important;
}

.pt_64 {
  padding-top: 64px !important;
}

.pt_62 {
  padding-top: 62px !important;
}

.pt_60 {
  padding-top: 60px !important;
}

.pt_58 {
  padding-top: 58px !important;
}

.pt_56 {
  padding-top: 56px !important;
}

.pt_54 {
  padding-top: 54px !important;
}

.pt_52 {
  padding-top: 52px !important;
}

.pt_50 {
  padding-top: 50px !important;
}

.pt_48 {
  padding-top: 48px !important;
}

.pt_46 {
  padding-top: 46px !important;
}

.pt_44 {
  padding-top: 44px !important;
}

.pt_42 {
  padding-top: 42px !important;
}

.pt_40 {
  padding-top: 40px !important;
}

.pt_38 {
  padding-top: 38px !important;
}

.pt_36 {
  padding-top: 36px !important;
}

.pt_34 {
  padding-top: 34px !important;
}

.pt_32 {
  padding-top: 32px !important;
}

.pt_30 {
  padding-top: 30px !important;
}

.pt_28 {
  padding-top: 28px !important;
}

.pt_26 {
  padding-top: 26px !important;
}

.pt_24 {
  padding-top: 24px !important;
}

.pt_22 {
  padding-top: 22px !important;
}

.pt_20 {
  padding-top: 20px !important;
}

.pt_18 {
  padding-top: 18px !important;
}

.pt_16 {
  padding-top: 16px !important;
}

.pt_14 {
  padding-top: 14px !important;
}

.pt_12 {
  padding-top: 12px !important;
}

.pt_10 {
  padding-top: 10px !important;
}

.pt_8 {
  padding-top: 8px !important;
}

.pt_6 {
  padding-top: 6px !important;
}

.pt_4 {
  padding-top: 4px !important;
}

.pt_2 {
  padding-top: 2px !important;
}

/* padding - bottom */
.pb_100 {
  padding-bottom: 100px !important;
}

.pb_98 {
  padding-bottom: 98px !important;
}

.pb_96 {
  padding-bottom: 96px !important;
}

.pb_94 {
  padding-bottom: 94px !important;
}

.pb_92 {
  padding-bottom: 92px !important;
}

.pb_90 {
  padding-bottom: 90px !important;
}

.pb_88 {
  padding-bottom: 88px !important;
}

.pb_86 {
  padding-bottom: 86px !important;
}

.pb_84 {
  padding-bottom: 84px !important;
}

.pb_82 {
  padding-bottom: 82px !important;
}

.pb_80 {
  padding-bottom: 80px !important;
}

.pb_78 {
  padding-bottom: 78px !important;
}

.pb_76 {
  padding-bottom: 76px !important;
}

.pb_74 {
  padding-bottom: 74px !important;
}

.pb_72 {
  padding-bottom: 72px !important;
}

.pb_70 {
  padding-bottom: 70px !important;
}

.pb_68 {
  padding-bottom: 68px !important;
}

.pb_66 {
  padding-bottom: 66px !important;
}

.pb_64 {
  padding-bottom: 64px !important;
}

.pb_62 {
  padding-bottom: 62px !important;
}

.pb_60 {
  padding-bottom: 60px !important;
}

.pb_58 {
  padding-bottom: 58px !important;
}

.pb_56 {
  padding-bottom: 56px !important;
}

.pb_54 {
  padding-bottom: 54px !important;
}

.pb_52 {
  padding-bottom: 52px !important;
}

.pb_50 {
  padding-bottom: 50px !important;
}

.pb_48 {
  padding-bottom: 48px !important;
}

.pb_46 {
  padding-bottom: 46px !important;
}

.pb_44 {
  padding-bottom: 44px !important;
}

.pb_42 {
  padding-bottom: 42px !important;
}

.pb_40 {
  padding-bottom: 40px !important;
}

.pb_38 {
  padding-bottom: 38px !important;
}

.pb_36 {
  padding-bottom: 36px !important;
}

.pb_34 {
  padding-bottom: 34px !important;
}

.pb_32 {
  padding-bottom: 32px !important;
}

.pb_30 {
  padding-bottom: 30px !important;
}

.pb_28 {
  padding-bottom: 28px !important;
}

.pb_26 {
  padding-bottom: 26px !important;
}

.pb_24 {
  padding-bottom: 24px !important;
}

.pb_22 {
  padding-bottom: 22px !important;
}

.pb_20 {
  padding-bottom: 20px !important;
}

.pb_18 {
  padding-bottom: 18px !important;
}

.pb_16 {
  padding-bottom: 16px !important;
}

.pb_14 {
  padding-bottom: 14px !important;
}

.pb_12 {
  padding-bottom: 12px !important;
}

.pb_10 {
  padding-bottom: 10px !important;
}

.pb_8 {
  padding-bottom: 8px !important;
}

.pb_6 {
  padding-bottom: 6px !important;
}

.pb_4 {
  padding-bottom: 4px !important;
}

.pb_2 {
  padding-bottom: 2px !important;
}

/* padding - left */
.pl_100 {
  padding-left: 100px !important;
}

.pl_98 {
  padding-left: 98px !important;
}

.pl_96 {
  padding-left: 96px !important;
}

.pl_94 {
  padding-left: 94px !important;
}

.pl_92 {
  padding-left: 92px !important;
}

.pl_90 {
  padding-left: 90px !important;
}

.pl_88 {
  padding-left: 88px !important;
}

.pl_86 {
  padding-left: 86px !important;
}

.pl_84 {
  padding-left: 84px !important;
}

.pl_82 {
  padding-left: 82px !important;
}

.pl_80 {
  padding-left: 80px !important;
}

.pl_78 {
  padding-left: 78px !important;
}

.pl_76 {
  padding-left: 76px !important;
}

.pl_74 {
  padding-left: 74px !important;
}

.pl_72 {
  padding-left: 72px !important;
}

.pl_70 {
  padding-left: 70px !important;
}

.pl_68 {
  padding-left: 68px !important;
}

.pl_66 {
  padding-left: 66px !important;
}

.pl_64 {
  padding-left: 64px !important;
}

.pl_62 {
  padding-left: 62px !important;
}

.pl_60 {
  padding-left: 60px !important;
}

.pl_58 {
  padding-left: 58px !important;
}

.pl_56 {
  padding-left: 56px !important;
}

.pl_54 {
  padding-left: 54px !important;
}

.pl_52 {
  padding-left: 52px !important;
}

.pl_50 {
  padding-left: 50px !important;
}

.pl_48 {
  padding-left: 48px !important;
}

.pl_46 {
  padding-left: 46px !important;
}

.pl_44 {
  padding-left: 44px !important;
}

.pl_42 {
  padding-left: 42px !important;
}

.pl_40 {
  padding-left: 40px !important;
}

.pl_38 {
  padding-left: 38px !important;
}

.pl_36 {
  padding-left: 36px !important;
}

.pl_34 {
  padding-left: 34px !important;
}

.pl_32 {
  padding-left: 32px !important;
}

.pl_30 {
  padding-left: 30px !important;
}

.pl_28 {
  padding-left: 28px !important;
}

.pl_26 {
  padding-left: 26px !important;
}

.pl_24 {
  padding-left: 24px !important;
}

.pl_22 {
  padding-left: 22px !important;
}

.pl_20 {
  padding-left: 20px !important;
}

.pl_18 {
  padding-left: 18px !important;
}

.pl_16 {
  padding-left: 16px !important;
}

.pl_14 {
  padding-left: 14px !important;
}

.pl_12 {
  padding-left: 12px !important;
}

.pl_10 {
  padding-left: 10px !important;
}

.pl_8 {
  padding-left: 8px !important;
}

.pl_6 {
  padding-left: 6px !important;
}

.pl_4 {
  padding-left: 4px !important;
}

.pl_2 {
  padding-left: 2px !important;
}

/* padding - right */
.pr_100 {
  padding-right: 100px !important;
}

.pr_98 {
  padding-right: 98px !important;
}

.pr_96 {
  padding-right: 96px !important;
}

.pr_94 {
  padding-right: 94px !important;
}

.pr_92 {
  padding-right: 92px !important;
}

.pr_90 {
  padding-right: 90px !important;
}

.pr_88 {
  padding-right: 88px !important;
}

.pr_86 {
  padding-right: 86px !important;
}

.pr_84 {
  padding-right: 84px !important;
}

.pr_82 {
  padding-right: 82px !important;
}

.pr_80 {
  padding-right: 80px !important;
}

.pr_78 {
  padding-right: 78px !important;
}

.pr_76 {
  padding-right: 76px !important;
}

.pr_74 {
  padding-right: 74px !important;
}

.pr_72 {
  padding-right: 72px !important;
}

.pr_70 {
  padding-right: 70px !important;
}

.pr_68 {
  padding-right: 68px !important;
}

.pr_66 {
  padding-right: 66px !important;
}

.pr_64 {
  padding-right: 64px !important;
}

.pr_62 {
  padding-right: 62px !important;
}

.pr_60 {
  padding-right: 60px !important;
}

.pr_58 {
  padding-right: 58px !important;
}

.pr_56 {
  padding-right: 56px !important;
}

.pr_54 {
  padding-right: 54px !important;
}

.pr_52 {
  padding-right: 52px !important;
}

.pr_50 {
  padding-right: 50px !important;
}

.pr_48 {
  padding-right: 48px !important;
}

.pr_46 {
  padding-right: 46px !important;
}

.pr_44 {
  padding-right: 44px !important;
}

.pr_42 {
  padding-right: 42px !important;
}

.pr_40 {
  padding-right: 40px !important;
}

.pr_38 {
  padding-right: 38px !important;
}

.pr_36 {
  padding-right: 36px !important;
}

.pr_34 {
  padding-right: 34px !important;
}

.pr_32 {
  padding-right: 32px !important;
}

.pr_30 {
  padding-right: 30px !important;
}

.pr_28 {
  padding-right: 28px !important;
}

.pr_26 {
  padding-right: 26px !important;
}

.pr_24 {
  padding-right: 24px !important;
}

.pr_22 {
  padding-right: 22px !important;
}

.pr_20 {
  padding-right: 20px !important;
}

.pr_18 {
  padding-right: 18px !important;
}

.pr_16 {
  padding-right: 16px !important;
}

.pr_14 {
  padding-right: 14px !important;
}

.pr_12 {
  padding-right: 12px !important;
}

.pr_10 {
  padding-right: 10px !important;
}

.pr_8 {
  padding-right: 8px !important;
}

.pr_6 {
  padding-right: 6px !important;
}

.pr_4 {
  padding-right: 4px !important;
}

.pr_2 {
  padding-right: 2px !important;
}

/** size **/
.w_100 {
  width: 100%;
}

.w_50 {
  width: 50%;
}

.w_40 {
  width: 40%;
}

.w_33 {
  width: 33.33%;
}

.w_25 {
  width: 25%;
}

.w_full {
  width: 100vw;
}

.h_100 {
  height: 100%;
}

.h_full {
  height: 100vh;
}

/** text **/
.col_main {
  color: #f3cb27 !important;
}

.col_white {
  color: #fff !important;
}

.col_black {
  color: #141618 !important;
}

.ta_l {
  text-align: left !important;
}

.ta_c {
  text-align: center !important;
}

.ta_r {
  text-align: right !important;
}

.ta_j {
  text-align: justify !important;
}

.fw_t {
  font-weight: 300 !important;
}

.fw_n {
  font-weight: normal !important;
}

.fw_b {
  font-weight: bold !important;
}

.fw_900 {
  width: 1800px !important;
}

.fw_700 {
  width: 1400px !important;
}

.fw_500 {
  width: 1000px !important;
}

.fw_300 {
  width: 600px !important;
}

.fw_100 {
  width: 200px !important;
}

.to_e1 {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.to_e2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.to_e3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */