@charset 'utf-8';
@import 'variable';

.signin {
    position :relative;
    .panel_wrap {
        height: 70vh;
        padding: 50px 30px;
        border-top-left-radius: 80px;
        // border-top-right-radius: 30px;
        background: #fff;
        h1.title_h1 {color: $sub;}
        .user_info {
            color: $gray500;
        }
    }
}